body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.container{
    width: 380px;
    margin: auto;
    padding: 11px;
    background-color: rgb(1,112,112);
    color: white;
    text-align: center;
    margin-top: 44px;
    border-radius: 15px;
}
.taskInput{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container input{
    width: 70%;
    padding: 9px;
    border: none;
    font-size: 22px;
    border-radius: 10px;
}
.container button{
    width: 70px;
    height: 44px;
    border: none;
    background-color: rgb(74, 194, 38);
    color: white;
    font-size: 20px;
    margin-left: 6px;
    border-radius: 10px;
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-between;
    margin-left: 14px;

}

.list p{
    font-size: 23px;
    margin-left: 8px;
}

.list #deleteIcon{
    position: relative;
    left: -9%;
    top: 28px;
    cursor: pointer;
    font-size: 21px;
    color: black;
    color: white;
}

